<!DOCTYPE html>
<html>
  <head>
    <title>FavoRave</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!--WebpackerでCSSとJavaScriptファイル管理-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!--FontAwesome導入-->
    <script src="https://kit.fontawesome.com/8644edc9d3.js" crossorigin="anonymous"></script>
  </head>
  
  <body>
    <header>
      <!--会員ログインの場合-->
      <% if user_signed_in? %>
        <li>
          <%= link_to "マイページ", my_page_users_path %>
        </li>
        <li>
          <%= link_to "新規投稿", new_post_path %>
        </li>
        <li>
          <%= link_to "投稿一覧", posts_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <!--管理者ログインの場合-->
      <% elsif admin_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <!--ログイン前の場合-->
      <% else %>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
    </header>

    <main>
      <%= yield %> 
    </main>
    
    <footer>
    </footer>
    
  </body>
</html>
